@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap'); /* Open Sans */

:root {
  /* Theme colors */
  --color-main-blue: #2B3542;
  --color-dark-blue: #1F2630;
  --color-light-blue: #3D4B5F;
  --color-yellow: #FFB400;
  --color-grey: #BEBEBE;
  --color-white-grey: #EDEDED;

  /* utils color */
  --color-red: #ff7676; /* useful for button to delete */
  --color-empty-message: #606e80;

  --main-font: "Montserrat";
  --message-font: "Open Sans";

  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
}

:root {
  --message-text-color: var(--color-white-grey);
  --date-text-color: var(--color-grey);

  --message-font-size: var(--font-size-16); /* For message and date next to the username*/
  --layout-font-size: var(--font-size-18); /*For layout*/
  --username-font-size: var(--font-size-18); /*For username above post*/
  --date-font-size: var(--font-size-14);

  --button-height: 50px;
  --button-padding-height: 5px;
  --button-icon-size: 25px; /*Height and width*/
  --button-font-size: var(--font-size-16);
  --button-font-family: var(--main-font);
  --button-border-radius: 15px;
}